@import "../../common-styles/colors.scss";
@import "../../common-styles/sizes.scss";

.container {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

.iconContent {
  width: auto;
  background-color: $accentColor;
  text-align: center;
}

.icon {
  margin: 0.3rem;
  font-size: $iconSizeSmall;
  color: white;
}
