@import "./common-styles/colors.scss";
@import "./common-styles/sizes.scss";

.content {
  height: 100%;
  width: auto;

  padding: $margin;
  display: grid;

  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto auto 50vh ;
  grid-template-areas:
    "hamburger . save"
    ". title preview"
    ". article ."
    ". editor ."
}

.editor {
  grid-area: editor;

  * > svg {
    vertical-align: baseline;
  }
}

.hamburger {
  grid-area: hamburger;
}

.save {
  grid-area: save;
}

.preview {
  grid-area: preview;
}

.title {
  grid-area: title;
  text-align: center;
  color: $titleColor;
  font-weight: bold;
}

.article {
  grid-area: article;
}
