@import "../../../../common-styles/sizes.scss";
@import "../../../../common-styles/colors.scss";

.container {
  background-color: $focusBackgroundColor;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "topLeft topRight"
    "bottomLeft bottomRight";
}

%iconContent {
  text-align: center;
  align-self: center;
  font-size: $iconSizeBig;
}

.topLeft {
  grid-area: topLeft;
  @extend %iconContent;
}

.topRight {
  grid-area: topRight;
  @extend %iconContent;
}

.bottomLeft {
  grid-area: bottomLeft;
  @extend %iconContent;
}

.bottomRight {
  grid-area: bottomRight;
  @extend %iconContent;
}
