@import "../../../../common-styles/sizes.scss";
@import "../../../../common-styles/colors.scss";

$infiniteScrollheight: 30rem;

.container {
  display: grid;

  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 2rem $infiniteScrollheight;
  grid-row-gap: 1rem;
  grid-template-areas:
    "exit owner webs types search"
    "content content content content content";
}

.exit {
  grid-area: exit;
}

%filter {
  display: flex;
  flex-direction: column;
  font-size: $fontSize-small;
  color: $titleColor;
  font-weight: bold;
}

.owner {
  grid-area: owner;
  @extend %filter;
}

.webs {
  grid-area: webs;
  @extend %filter;
}

.types {
  grid-area: types;
  @extend %filter;
}

.search {
  grid-area: search;
}

.content {
  margin-top: 1rem;
  grid-area: content;
}

.contentFlex {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

.image {
  width: 30%;
  margin: 1rem;
}
