.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "content";
}

.facade {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  grid-area: content;
}

.contentFacade {
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.imageContent {
  grid-area: content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "imageContent";
}

.image {
  grid-area: imageContent;
}

.icon {
  grid-area: imageContent;
  font-size: 8rem;
  text-align: center;
  align-self: center;
  z-index: 1;
}

.content {
  .facade {
    display: none;
  }
}

.content:hover {
  .facade {
    display: block;
    z-index: 2;
  }
}
