@import "../../common-styles/sizes.scss";
@import "../../common-styles/colors.scss";

.image {
  height: auto;
  width: 100%;
}

.edit {
  background-color: black;
  height: $radious;
  width: $radious;
  padding: 0.5rem;
  display: flex;
  border-radius: $radious;
  justify-content: center;
  align-content: center;

  //Position over the image
  position: relative;
  top: 80%;
  left: -10%;
}

.edit:hover {
  background-color: $focusBackgroundColor;
}
